@keyframes nebula {
    0%   { background: #020024; }
    20%  { background: #090979; }
    40%  { background: #4b0175; }
    60%  { background: #400462; }
    80%  { background: #440147; }
    100%   { background: #020024; } 
  }

  @keyframes particles {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-2560px);
    }
  }

  #contacto h2{
    color: white;
  }

form#formulario {
    position: relative;
    display: flex;
    row-gap: 4px;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    height: 768px;
    flex-direction: column;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding: 24px;
}



section#contacto {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: nebula 9s infinite linear;
}

/**************************************************************************/


input, #submit  {
    height: 32px;
    width: 100%;
    border: 1px #400462;
    color: #400462;


}

label,#submit  {
    margin-top: 24px;
}

textarea#msg {
    width: 100%;
    height: 60px;
}

.contenedorImagenContacto {
    display: flex;
    flex-direction: column;
    width: 580px;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    z-index: 2;
}

.contenedorImagenContacto{
    width: 500px; 
    /*height: 300px;*/
}





body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}





.particle{
  background: green;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  }

.space{
  width: 100vw;
  height: 400vh;
  background: red;
  position: relative;
  
  
      -webkit-animation: animaCielo 5s linear infinite backwards running;
      -moz-animation: animaCielo 5s linear infinite backwards running;
      -ms-animation: animaCielo 5s linear infinite backwards running;
      animation: animaCielo 5s linear infinite backwards running;

  

}


  @-webkit-keyframes animaCielo{
      0% {
         top:-100%;
      }
      
      100% {
          top:0%;
      }
  }

  @-ms-keyframes animaCielo{
      0% {
         top:-100%;
      }
      
      100% {
          top:0%;
      }
  }


  @-o-keyframes animaCielo{
      0% {
         top:-100%;
      }
      
      100% {
          top:0%;
      }
  }
  @-moz-keyframes animaCielo{
      0% {
         top:-100%;
      }
      
      100% {
          top:0%;
      }
  }










/********************************************************************************************/
