form#formulario {
    position: relative;
    display: flex;
    row-gap: 24px;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 768px;
    background: aliceblue;
    flex-direction: column;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

section#contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 32px;
    width: 260px;
    border: none;
}