
section#experiencies{
  position: relative;
  /* width: 100%; */
  /* height: 383px; */
  background-color: #fff;
  z-index: 1;
  padding: 64px;
  gap: 16px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 16px;
  animation: colorModeDark 9s infinite linear;
  }





  .glow-on-hover {
    /* width: 220px; */
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    /* border-radius: 10px; */
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,#D8D3F9,#F9D8D3,#EBD3F9);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    /* border-radius: 10px; */
}

.glow-on-hover:active {
  
  background: #0000ff;
}


.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #fff; */
    left: 0;
    top: 0;
    /* border-radius: 10px; */
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

article#cifrado {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.detalsWorks {
  width: 400px;
  height: 405px;
  /* background-color: antiquewhite; */
  /* white-space: break-spaces; */
  padding: 24px;
  row-gap: 20px;
  /* gap: 20px; */
  /* justify-content: center; */
  /* align-items: center; */
  align-content: center;
  /* grid-row-gap: revert; */
  row-gap: 20px;
  column-gap: 20px;
}

#cifrado img {
  width: 750px;
  border: dashed 4px;
  border-color: #eaf2fd;
  box-shadow: -11px 12px 2px 1px rgba(0, 0, 255, .2);
  stroke-dasharray: 25;
}

.contenedorBoton {
  display: flex;
  /* row-gap: 20px; */
  column-gap: 16px;
  /* grid-row-gap: 20px; */
  margin-top: 40px;
}

cite {
  gap: 20px;
}


a.repositorio{
  border: 2px solid;
}
a.repositorio, a.seeDemo {
    background-color: transparent;
    
    display:inline-block;
    cursor:pointer;
    color: blue;
    /* font-family:Arial; */
    font-size:17px;
    padding: 11px 16px;
    text-decoration:none;
}