header{
    height: 40px;
    width: 100%;
    /* justify-content: center; */
    padding: 8px 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
}

button.navbar-toggler {
    display: none;
}

ul.menu-list {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    gap: 16px;
    text-decoration-line: none;
    list-style: none;
    align-items: center;
}
ul li a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #000000A6;
 }

 header li:last-child {
	background-color:#F8F9FA;
	border-radius:28px;
	cursor:pointer;
	padding: 8px 17px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


 @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }